/*                    GENERAL RULES                    */
header, main, footer {
	display: inline-block;
	width: 960px;
	margin: 0px 150px 0px 150px;
}
body {
	background-color: #dcdcdc;
	font-family: 'tahoma';
	font-weight:normal;
	font-style:normal;

	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
span {
	display: inline-block;
	float: left;
}
section, hr {
	clear: both;
}
p {
	text-align: justify;
}
hr {
	margin-top: 50px;
}
hr.hypo {
	margin-top: 260px;
}









/*                    NAV_LEFT                    */

section.nav_left {
  height: 100vh;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 50;
  left: 50;
  background-color: #111;
  overflow-x: hidden;
}
section.nav_left a {
  padding: 12px 2px 12px 10px;
  text-decoration: none;
  color: #818181;
  display: block;
	transition: 0.5s ease;
}
section.nav_left a:hover {
  color: #ffffff;
}
a.back {
	background-color: #383838;
	margin-bottom: 20px;
	text-align: center;
}
a {
	text-decoration: none;
}






/*                    HEADER                    */
header div {
	height: 80px;
}
h1 {
	text-align: center;
	font-size: 280%;
}





/*                    SUMMARY                    */
div {
	margin: 10px 40px;
}
div.summary {
	width: 70%;
}
summary {
	font-size: 150%;
}
p.summary_end {
  text-align: right;
}









/*                    HYPO                    */



div.hypo {
	justify-content: center;
}
p.hypo {
	display: inline-block;
	width: 17%;
	height: 190px;
	margin: 3px;
	padding: 3px;
	border: outset 2px;
	text-align: center;
	float: left;
	background-color: #bfbfbf;
}


























/*                    PERSONNAGES                    */
td {
	padding: 2px 4px;
	border: 1px solid #bfbfbf;
}
table {
	border-collapse: collapse;
	margin: 5px;
	float: left;
	font-size: 87%;
}
thead {
	background-color: #bfbfbf;
	font-weight: bold;
	text-align: center;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
.table_1 td:nth-child(1) {
	width: 110px;
}
.table_2 td:nth-child(1) {
	width: 100px;
}
td:nth-child(3) {
	width: 130px;
}




/*                    ALENTOURS                    */








/*                    LES MEILLIEURS VUES SUR LA VILLE                   */

img.vues {
	margin: 1%;
	width: 47%;
}






/*                    FOOTER                    */
footer {
	font-family: times;
}
footer div {
	display: inline-block;
	width: 90px;
	height: 60px;
	margin: 3px;
	padding: 4px;
	transition: 1s ease;
}
footer div:hover {
	transform: rotate(360deg);
	background: #bfbfbf;
}